.head{
    height: 50px;
    background-color:darkblue;
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    font-style: italic;
}
.tool{
  text-decoration: none;
  color: white;
  font-size: 30px;
}
.heading{
  display: flex;
  justify-content: space-between;
}
.tab{
  display:flex ;
  justify-content: space-between;
  border-bottom: 10px;
}
.bgg{
  background: linear-gradient(skyblue,pink,white);
  height: 100vh;
  width: 100vw;
}
table{
height: 400px;
width: 800px;
border: 1px solid black;
background-color: aliceblue;
margin-left: 250px;

}